/*------------------------------------------------------------------------------

    Template: Sa- Minimalist Ecommerce html template
    Description: This is html5 template
    Author: Devitems
    Version: 1.0
	Note: This core style file includes all external plugins css file.

-------------------------------------------------------------------------------*/

@import url("material-design-icon-font.min.css");

@import url("default.css");