/*

    Template: Sa- Minimalist Ecommerce html template
    Description: This is html5 template
    Author: Devitems
    Version: 1.0

Note: This is Short code style file. All Short code related style
included in this file. 

*/

@import url("header.css");


